body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* navbar styles */

.navbar {
  justify-self: flex-start;
  flex-flow: column nowrap;
}
.navbar h3 {
  margin: 5px 0;
}

/* container styles */

.container {
  background: #5e6973;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 10px black;
}

/* gameboard styles*/

.gameboard {
  background: #7cffc4;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.gamebox {
  border: 3px solid black;
  border-radius: 10px;
  transition: background 0.1s;
}
.gamebox:hover {
  background: #6abea7;
}

/* utility classes */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px 5px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
}

.medium-size {
  width: 150px;
  height: 50px;
  margin: 10px 0;
  background: #9ffff5;
  border: 2px solid #6abea7;
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
}
