body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* navbar styles */

.navbar {
  justify-self: flex-start;
}

/* container styles */

.container {
  background: hsl(0, 51%, 67%);
  width: 600px;
  height: 600px;
}

/* gameboard styles*/

.gameboard {
  background: #eee;
  width: 400px;
  height: 400px;
  padding: 5px;
}

.gamebox {
  border: 1px solid black;
}

/* utility classes */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px 5px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
}
